.content-container h1 {
  margin-top: 0px;
}

.content-container h3 {
  font-weight: 300;
  margin-top: 0px;
}

.info {
  display: flex;
  gap: 5px;
}

.content-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
  padding: 40px;
  width: 40%;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddfcef;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-optical-sizing: auto;
  font-style: normal;
  height: 100vh;
  background-image: url("./assets/pattern.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  backdrop-filter: blur(4px);
}

#color-containers {
  display: flex;
  gap: 20px;
  margin-bottom: 30px
}

#result-container {
  flex: 1;
  /* background-color: #f1781c; */
  border: 3px solid #f1781c;
  /* color: white; */
  border-radius: 20px;
  gap: 10px;
  padding: 20px 0px;
  margin-bottom: 20px;

}

.color-container {
  flex: 1;
  border: 3px solid;
  border-radius: 20px;
  gap: 10px;
  padding: 20px 0px;
}

.color-container.red {
  border-color: #FF8181;
}

.color-container.blue {
  border-color: #3ca9c4;
}

.color-container.green {
  border-color: #89e5bd;
}
 
.filter {
  display: flex;
  gap: 10px;
  align-items: center;
}