.blue-blind {
    filter: invert(100%) hue-rotate(180deg);
}

.blue-weak {
    filter: invert(100%) hue-rotate(180deg) contrast(0.8);
}

.red-blind {
    filter: invert(100%) hue-rotate(0deg);
}

.red-weak {
    filter: invert(100%) hue-rotate(0deg) contrast(0.8);
}

.green-blind {
    filter: invert(100%) hue-rotate(90deg);
}

.green-weak {
    filter: invert(100%) hue-rotate(90deg) contrast(0.8);
}

.monochromacy {
    filter: grayscale(100%);
}

.blueconemonochromacy {
    filter: grayscale(100%) contrast(0.8);
}
